
.clinicsPageWrapper{
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.clinicsContentWrapper{
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    overflow: auto;
}

.clinicsMiddlePanel{
    flex: 1 1 auto;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.clinicsMiddleContentWrapper{
    overflow: auto;
}

.clinicsList{
    width: 700px;
    min-height: -webkit-min-content;
    display: flex;
    flex-direction: column;
}

.clinicsItem{
    border:1px black solid;
}

.clinicsLeftPanel{
    width: 40px;
    height: 100%;
    display: inline;
}
